/node_modules
/__tests__/*.js
/__mocks__
**/__mocks__
**/**/__mocks__
/api/controllers/*.js
/api/middleware/*.js
/api/models/*.js
/api/services/*.js
/views/layouts/*.hbs
/views/partials/*.hbs
/views/*.hbs
