I'm a view, I was called by the action: {{action}}
<p>
  I'm going to inject a partial into an unordered list as below:
</p>
<ul>
  <li>
    {{> PartialSample parent="SampleView"}}
  </li>
</ul>
<h4>
  Be mindful of the overhead of calling multiple hbs files!
</h4>
